## Version: $Id$
##
######################################################################
##
### Commentary:
##
######################################################################
##
### Change Log:
##
######################################################################
##
### Code:

*.h ident
*.cpp ident
*.tpp ident
*.txt ident
*.cmake ident

######################################################################
### .gitattributes ends here
